<div class="container">
  <div class="form" style="width: 75%">
    <h2>
      Add a new employee
    </h2>
    <form action="/insert_employee" method="post">
            <div class="row g-3">
    <div class="col-sm">
      <label for="first_name_box">First name</label>
      <input type="text" id="first_name_box" class="form-control" name="query_first_name" >
    </div>

    <div class="col-sm-5">
      <label for="last_name_box">Last name</label>
      <input type="text" id="last_name_box" class="form-control" name="query_last_name" >
    </div>

    <div class="col-sm-2">
      <label for="emp_id_box">Employee ID</label>
      <input type="text" id="emp_id_box" name="query_emp_id" class="form-control" ">
    </div>
  </div>
  

      <div class="row">
      <div class="col">
        <label for="phone_box">
          Phone
        </label>

        <input type="text" id="phone_box" class="form-control"  name="query_phone">
      </div>

        <div class="col">
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" class="form-control"  name="query_email">
      </div>
      </div>

  <div class="row g-4">
      <div class="col">
        <label for="base_box">
          Base
        </label>

        <select id="base_box" name="query_base" class="form-select" style="width: 100%">
         <option>CHI</option>
         <option>DEN</option>
          <option>DFW</option>
          <option>LAS</option>
          <option>MCO</option>
          <option>MIA</option>
          <option>PHL</option>
          <option>PHX</option>
          <option>TPA</option>
          </select>
    </div>
     

      <div class="col">
        <label for="position_box">
          Position
        </label>

      <select id="position_box" name="query_position" class="form-select">
         <option >FA</option>
          <option >SUP</option>
          </select>
      </div>
      

           <div class="col">
        <label for="access_box">
          Access
        </label>

       <select id="access_box" name="query_access" class="form-select">
         <option >FA</option>
          <option>SUP</option>
          </select>
      </div>
    



      <div class="col">
        <label for="doh_box">
          DOH
        </label>

        <input type="date" class="form-control" id="doh_box" name="query_doh">
      </div>
</div>
 

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" class="form-control" name="query_image">
      </div>

      <button type="submit" class="btn btn-primary">
        Add Employee
      </button>
    </form>
  </div>
</div>
